<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hodehtml.demo.dao.UserOrderBillMapper">
  <resultMap id="BaseResultMap" type="com.hodehtml.demo.model.UserOrderBill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="bill_month" jdbcType="VARCHAR" property="billMonth" />
    <result column="billstartdate" jdbcType="VARCHAR" property="billstartdate" />
    <result column="billenddate" jdbcType="VARCHAR" property="billenddate" />
    <result column="base_fee" jdbcType="INTEGER" property="baseFee" />
    <result column="extraservicefee" jdbcType="INTEGER" property="extraservicefee" />
    <result column="voice_fee" jdbcType="INTEGER" property="voiceFee" />
    <result column="sms_fee" jdbcType="INTEGER" property="smsFee" />
    <result column="web_fee" jdbcType="INTEGER" property="webFee" />
    <result column="extra_fee" jdbcType="INTEGER" property="extraFee" />
    <result column="total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="extra_discount" jdbcType="INTEGER" property="extraDiscount" />
    <result column="actual_fee" jdbcType="INTEGER" property="actualFee" />
    <result column="paid_fee" jdbcType="INTEGER" property="paidFee" />
    <result column="unpaid_fee" jdbcType="INTEGER" property="unpaidFee" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="last_point" jdbcType="INTEGER" property="lastPoint" />
    <result column="related_mobiles" jdbcType="VARCHAR" property="relatedMobiles" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, mobile, code, message, bill_month, billstartdate, billenddate, base_fee, 
    extraservicefee, voice_fee, sms_fee, web_fee, extra_fee, total_fee, discount, extra_discount, 
    actual_fee, paid_fee, unpaid_fee, point, last_point, related_mobiles, notes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_order_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_order_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hodehtml.demo.model.UserOrderBill">
    insert into user_order_bill (id, order_id, mobile, 
      code, message, bill_month, 
      billstartdate, billenddate, base_fee, 
      extraservicefee, voice_fee, sms_fee, 
      web_fee, extra_fee, total_fee, 
      discount, extra_discount, actual_fee, 
      paid_fee, unpaid_fee, point, 
      last_point, related_mobiles, notes
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{billMonth,jdbcType=VARCHAR}, 
      #{billstartdate,jdbcType=VARCHAR}, #{billenddate,jdbcType=VARCHAR}, #{baseFee,jdbcType=INTEGER}, 
      #{extraservicefee,jdbcType=INTEGER}, #{voiceFee,jdbcType=INTEGER}, #{smsFee,jdbcType=INTEGER}, 
      #{webFee,jdbcType=INTEGER}, #{extraFee,jdbcType=INTEGER}, #{totalFee,jdbcType=INTEGER}, 
      #{discount,jdbcType=INTEGER}, #{extraDiscount,jdbcType=INTEGER}, #{actualFee,jdbcType=INTEGER}, 
      #{paidFee,jdbcType=INTEGER}, #{unpaidFee,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}, 
      #{lastPoint,jdbcType=INTEGER}, #{relatedMobiles,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hodehtml.demo.model.UserOrderBill">
    insert into user_order_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="billMonth != null">
        bill_month,
      </if>
      <if test="billstartdate != null">
        billstartdate,
      </if>
      <if test="billenddate != null">
        billenddate,
      </if>
      <if test="baseFee != null">
        base_fee,
      </if>
      <if test="extraservicefee != null">
        extraservicefee,
      </if>
      <if test="voiceFee != null">
        voice_fee,
      </if>
      <if test="smsFee != null">
        sms_fee,
      </if>
      <if test="webFee != null">
        web_fee,
      </if>
      <if test="extraFee != null">
        extra_fee,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="extraDiscount != null">
        extra_discount,
      </if>
      <if test="actualFee != null">
        actual_fee,
      </if>
      <if test="paidFee != null">
        paid_fee,
      </if>
      <if test="unpaidFee != null">
        unpaid_fee,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="lastPoint != null">
        last_point,
      </if>
      <if test="relatedMobiles != null">
        related_mobiles,
      </if>
      <if test="notes != null">
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="billMonth != null">
        #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="billstartdate != null">
        #{billstartdate,jdbcType=VARCHAR},
      </if>
      <if test="billenddate != null">
        #{billenddate,jdbcType=VARCHAR},
      </if>
      <if test="baseFee != null">
        #{baseFee,jdbcType=INTEGER},
      </if>
      <if test="extraservicefee != null">
        #{extraservicefee,jdbcType=INTEGER},
      </if>
      <if test="voiceFee != null">
        #{voiceFee,jdbcType=INTEGER},
      </if>
      <if test="smsFee != null">
        #{smsFee,jdbcType=INTEGER},
      </if>
      <if test="webFee != null">
        #{webFee,jdbcType=INTEGER},
      </if>
      <if test="extraFee != null">
        #{extraFee,jdbcType=INTEGER},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="extraDiscount != null">
        #{extraDiscount,jdbcType=INTEGER},
      </if>
      <if test="actualFee != null">
        #{actualFee,jdbcType=INTEGER},
      </if>
      <if test="paidFee != null">
        #{paidFee,jdbcType=INTEGER},
      </if>
      <if test="unpaidFee != null">
        #{unpaidFee,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="lastPoint != null">
        #{lastPoint,jdbcType=INTEGER},
      </if>
      <if test="relatedMobiles != null">
        #{relatedMobiles,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hodehtml.demo.model.UserOrderBill">
    update user_order_bill
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="billMonth != null">
        bill_month = #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="billstartdate != null">
        billstartdate = #{billstartdate,jdbcType=VARCHAR},
      </if>
      <if test="billenddate != null">
        billenddate = #{billenddate,jdbcType=VARCHAR},
      </if>
      <if test="baseFee != null">
        base_fee = #{baseFee,jdbcType=INTEGER},
      </if>
      <if test="extraservicefee != null">
        extraservicefee = #{extraservicefee,jdbcType=INTEGER},
      </if>
      <if test="voiceFee != null">
        voice_fee = #{voiceFee,jdbcType=INTEGER},
      </if>
      <if test="smsFee != null">
        sms_fee = #{smsFee,jdbcType=INTEGER},
      </if>
      <if test="webFee != null">
        web_fee = #{webFee,jdbcType=INTEGER},
      </if>
      <if test="extraFee != null">
        extra_fee = #{extraFee,jdbcType=INTEGER},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="extraDiscount != null">
        extra_discount = #{extraDiscount,jdbcType=INTEGER},
      </if>
      <if test="actualFee != null">
        actual_fee = #{actualFee,jdbcType=INTEGER},
      </if>
      <if test="paidFee != null">
        paid_fee = #{paidFee,jdbcType=INTEGER},
      </if>
      <if test="unpaidFee != null">
        unpaid_fee = #{unpaidFee,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="lastPoint != null">
        last_point = #{lastPoint,jdbcType=INTEGER},
      </if>
      <if test="relatedMobiles != null">
        related_mobiles = #{relatedMobiles,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hodehtml.demo.model.UserOrderBill">
    update user_order_bill
    set order_id = #{orderId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      bill_month = #{billMonth,jdbcType=VARCHAR},
      billstartdate = #{billstartdate,jdbcType=VARCHAR},
      billenddate = #{billenddate,jdbcType=VARCHAR},
      base_fee = #{baseFee,jdbcType=INTEGER},
      extraservicefee = #{extraservicefee,jdbcType=INTEGER},
      voice_fee = #{voiceFee,jdbcType=INTEGER},
      sms_fee = #{smsFee,jdbcType=INTEGER},
      web_fee = #{webFee,jdbcType=INTEGER},
      extra_fee = #{extraFee,jdbcType=INTEGER},
      total_fee = #{totalFee,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      extra_discount = #{extraDiscount,jdbcType=INTEGER},
      actual_fee = #{actualFee,jdbcType=INTEGER},
      paid_fee = #{paidFee,jdbcType=INTEGER},
      unpaid_fee = #{unpaidFee,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      last_point = #{lastPoint,jdbcType=INTEGER},
      related_mobiles = #{relatedMobiles,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.hodehtml.demo.model.UserOrderBill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="bill_month" jdbcType="VARCHAR" property="billMonth" />
    <result column="billstartdate" jdbcType="VARCHAR" property="billstartdate" />
    <result column="billenddate" jdbcType="VARCHAR" property="billenddate" />
    <result column="base_fee" jdbcType="INTEGER" property="baseFee" />
    <result column="extraservicefee" jdbcType="INTEGER" property="extraservicefee" />
    <result column="voice_fee" jdbcType="INTEGER" property="voiceFee" />
    <result column="sms_fee" jdbcType="INTEGER" property="smsFee" />
    <result column="web_fee" jdbcType="INTEGER" property="webFee" />
    <result column="extra_fee" jdbcType="INTEGER" property="extraFee" />
    <result column="total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="extra_discount" jdbcType="INTEGER" property="extraDiscount" />
    <result column="actual_fee" jdbcType="INTEGER" property="actualFee" />
    <result column="paid_fee" jdbcType="INTEGER" property="paidFee" />
    <result column="unpaid_fee" jdbcType="INTEGER" property="unpaidFee" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="last_point" jdbcType="INTEGER" property="lastPoint" />
    <result column="related_mobiles" jdbcType="VARCHAR" property="relatedMobiles" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, mobile, code, message, bill_month, billstartdate, billenddate, base_fee, 
    extraservicefee, voice_fee, sms_fee, web_fee, extra_fee, total_fee, discount, extra_discount, 
    actual_fee, paid_fee, unpaid_fee, point, last_point, related_mobiles, notes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_order_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_order_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hodehtml.demo.model.UserOrderBill">
    insert into user_order_bill (id, order_id, mobile, 
      code, message, bill_month, 
      billstartdate, billenddate, base_fee, 
      extraservicefee, voice_fee, sms_fee, 
      web_fee, extra_fee, total_fee, 
      discount, extra_discount, actual_fee, 
      paid_fee, unpaid_fee, point, 
      last_point, related_mobiles, notes
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{billMonth,jdbcType=VARCHAR}, 
      #{billstartdate,jdbcType=VARCHAR}, #{billenddate,jdbcType=VARCHAR}, #{baseFee,jdbcType=INTEGER}, 
      #{extraservicefee,jdbcType=INTEGER}, #{voiceFee,jdbcType=INTEGER}, #{smsFee,jdbcType=INTEGER}, 
      #{webFee,jdbcType=INTEGER}, #{extraFee,jdbcType=INTEGER}, #{totalFee,jdbcType=INTEGER}, 
      #{discount,jdbcType=INTEGER}, #{extraDiscount,jdbcType=INTEGER}, #{actualFee,jdbcType=INTEGER}, 
      #{paidFee,jdbcType=INTEGER}, #{unpaidFee,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}, 
      #{lastPoint,jdbcType=INTEGER}, #{relatedMobiles,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hodehtml.demo.model.UserOrderBill">
    insert into user_order_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="billMonth != null">
        bill_month,
      </if>
      <if test="billstartdate != null">
        billstartdate,
      </if>
      <if test="billenddate != null">
        billenddate,
      </if>
      <if test="baseFee != null">
        base_fee,
      </if>
      <if test="extraservicefee != null">
        extraservicefee,
      </if>
      <if test="voiceFee != null">
        voice_fee,
      </if>
      <if test="smsFee != null">
        sms_fee,
      </if>
      <if test="webFee != null">
        web_fee,
      </if>
      <if test="extraFee != null">
        extra_fee,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="extraDiscount != null">
        extra_discount,
      </if>
      <if test="actualFee != null">
        actual_fee,
      </if>
      <if test="paidFee != null">
        paid_fee,
      </if>
      <if test="unpaidFee != null">
        unpaid_fee,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="lastPoint != null">
        last_point,
      </if>
      <if test="relatedMobiles != null">
        related_mobiles,
      </if>
      <if test="notes != null">
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="billMonth != null">
        #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="billstartdate != null">
        #{billstartdate,jdbcType=VARCHAR},
      </if>
      <if test="billenddate != null">
        #{billenddate,jdbcType=VARCHAR},
      </if>
      <if test="baseFee != null">
        #{baseFee,jdbcType=INTEGER},
      </if>
      <if test="extraservicefee != null">
        #{extraservicefee,jdbcType=INTEGER},
      </if>
      <if test="voiceFee != null">
        #{voiceFee,jdbcType=INTEGER},
      </if>
      <if test="smsFee != null">
        #{smsFee,jdbcType=INTEGER},
      </if>
      <if test="webFee != null">
        #{webFee,jdbcType=INTEGER},
      </if>
      <if test="extraFee != null">
        #{extraFee,jdbcType=INTEGER},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="extraDiscount != null">
        #{extraDiscount,jdbcType=INTEGER},
      </if>
      <if test="actualFee != null">
        #{actualFee,jdbcType=INTEGER},
      </if>
      <if test="paidFee != null">
        #{paidFee,jdbcType=INTEGER},
      </if>
      <if test="unpaidFee != null">
        #{unpaidFee,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="lastPoint != null">
        #{lastPoint,jdbcType=INTEGER},
      </if>
      <if test="relatedMobiles != null">
        #{relatedMobiles,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hodehtml.demo.model.UserOrderBill">
    update user_order_bill
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="billMonth != null">
        bill_month = #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="billstartdate != null">
        billstartdate = #{billstartdate,jdbcType=VARCHAR},
      </if>
      <if test="billenddate != null">
        billenddate = #{billenddate,jdbcType=VARCHAR},
      </if>
      <if test="baseFee != null">
        base_fee = #{baseFee,jdbcType=INTEGER},
      </if>
      <if test="extraservicefee != null">
        extraservicefee = #{extraservicefee,jdbcType=INTEGER},
      </if>
      <if test="voiceFee != null">
        voice_fee = #{voiceFee,jdbcType=INTEGER},
      </if>
      <if test="smsFee != null">
        sms_fee = #{smsFee,jdbcType=INTEGER},
      </if>
      <if test="webFee != null">
        web_fee = #{webFee,jdbcType=INTEGER},
      </if>
      <if test="extraFee != null">
        extra_fee = #{extraFee,jdbcType=INTEGER},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="extraDiscount != null">
        extra_discount = #{extraDiscount,jdbcType=INTEGER},
      </if>
      <if test="actualFee != null">
        actual_fee = #{actualFee,jdbcType=INTEGER},
      </if>
      <if test="paidFee != null">
        paid_fee = #{paidFee,jdbcType=INTEGER},
      </if>
      <if test="unpaidFee != null">
        unpaid_fee = #{unpaidFee,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="lastPoint != null">
        last_point = #{lastPoint,jdbcType=INTEGER},
      </if>
      <if test="relatedMobiles != null">
        related_mobiles = #{relatedMobiles,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hodehtml.demo.model.UserOrderBill">
    update user_order_bill
    set order_id = #{orderId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      bill_month = #{billMonth,jdbcType=VARCHAR},
      billstartdate = #{billstartdate,jdbcType=VARCHAR},
      billenddate = #{billenddate,jdbcType=VARCHAR},
      base_fee = #{baseFee,jdbcType=INTEGER},
      extraservicefee = #{extraservicefee,jdbcType=INTEGER},
      voice_fee = #{voiceFee,jdbcType=INTEGER},
      sms_fee = #{smsFee,jdbcType=INTEGER},
      web_fee = #{webFee,jdbcType=INTEGER},
      extra_fee = #{extraFee,jdbcType=INTEGER},
      total_fee = #{totalFee,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      extra_discount = #{extraDiscount,jdbcType=INTEGER},
      actual_fee = #{actualFee,jdbcType=INTEGER},
      paid_fee = #{paidFee,jdbcType=INTEGER},
      unpaid_fee = #{unpaidFee,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      last_point = #{lastPoint,jdbcType=INTEGER},
      related_mobiles = #{relatedMobiles,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>